body{
    margin: 0;
    padding: 0;
    height: 90vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    /* border: 1px solid red; */
    width: 600px;
    height: 50vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.btn{
    height: 16vmin;
    width: 16vmin;
    background-color: white;
    font-size: 80px;
    /* border-radius: 10px; */
    
}


#btn{
    width: 140px;
    height: 80px;
    font-size: 40px;
    background-color: black;
    color: white;
    margin-top: 50px;
}

.msg{
    /* border: 1px solid red; */
    width: 500px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    visibility: hidden;
    opacity: 0;
}

.show{
    visibility:visible;
    opacity: 1;
    transition: all 2s;
}