*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "inter_regular";
}

body{
    background-color: #f1f2f4;
    position: relative;
}



/* Header started here... */
header{
    width: 100vw;
    padding: 16px;
    padding-right: 30px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    position: fixed;
    flex-wrap: wrap;
}
/* just a divider */
nav{
    height: 78px;
}
header img{
    cursor: pointer;
}
.icon{
    height: 45px;
}

/* Header's Search box */
.input input{
    background-color: #f0f5ff;
    height: 45px;
    width: 48vw;
    border-radius: 7px;
    background-image: url('assests/Search.png');
    background-repeat: no-repeat;
    background-position: 15px center;
    padding-left: 45px;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 400;
}



/* Header's Login button class="btn" */
.btn{
    position: relative;
    border-radius: 7px;
    padding: 0px 3px
}

/* .btn's hover effect and the properties on the hover effect */
.btn:hover .options{
    display: flex;
    color: black;
    flex-direction: column;
    border-radius: 10px;
}
.btn:hover{
    background-color: #2851db;
    color: white;
    
}
.btn:hover .btnIcon{
    filter: invert(1);
    
}
/* button ke andar "main login button" */
.button{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 8px 5px;
    cursor: pointer;    
}

/* Button ke andar wale options */
.options{
    background-color: white;
    position: absolute;
    list-style-type: none;
    width: 30vw;
    right: -90%;
    top: 100%;
    display: none;
    border-radius: 10px;
    box-shadow: 0 4px 16px 0 rgb(0 0 0/20%);
}

#headOfUl{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.options li{
    width: 100%;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.options li:hover{
    background-color: #fafafa;
}
.options li a{
    text-decoration: none;
    color: black;
}
#downArrow{
    width: 15px;
    transition: all 0.2s ease-in;
}
.btn:hover #downArrow{
    transform: rotate(180deg);
}

/* header's last icon */
.tribox{
    padding: 5px;
}
.tribox:hover{
    background-color: #f3f3f3;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
    border-radius: 7px;
}
#options{
    width: 230px;
    top: 100%;
    right: -60%;
}
.tribox:hover .options{
    display: flex;
    color: black;
    flex-direction: column;
}
/* Now header is finished */


/* container is started */
.container{
    /* border: 1px solid green; */
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    padding: 20px 20px;
}

.row{   
    background-color: white; 
    /* border: 1px solid blue; */
    width: 95vw;
    height: 150px;
    display: flex;
    padding: 10px 20px;
    gap: 20px;
    overflow-x:auto;
}
.products{
    width: 120px;
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;
    cursor: pointer;
}
.products img{
    width: 80px;
}

/* .row2 designing complete */
.row2{
    animation:ayush 6s linear infinite;
    background-image: url(assests/row2/bg1.jpg);
}

@keyframes ayush{
    30%{
        background-image: url(assests/row2/bg4.jpg);
    }
    50%{
        background-image: url(assests/row2/bg2.jpg);
    }
    100%{
        background-image: url(assests/row2/bg3.jpg);
    }
}


/* row 3 */
.row3{
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    /* border: 2px solid red; */
    height: 300px;
}
.good{
    /* border: 1px solid blue; */

}
.card{
    
}